@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-navy: var(--navy);
  --color-navy-hover: var(--navy-hover);
  --color-navy-active: var(--navy-active);
  --color-gray-light: var(--gray-light);
  --color-gray-medium: var(--gray-medium);
  --color-gray-dark: var(--gray-dark);
  --color-gray-dark2: var(--gray-dark2);
  --color-green-dark: var(--green-dark);
  --color-green: var(--green);
  --color-green-light: var(--green-light);
  --color-red-dark: var(--red-dark);
  --color-red: var(--red);
  --color-red-light: var(--red-light);
  --color-yellow-dark: var(--yellow-dark);
  --color-yellow: var(--yellow);
  --color-yellow-light: var(--yellow-light);
  --color-blue-dark: var(--blue-dark);
  --color-blue: var(--blue);
  --color-blue-light: var(--blue-light);
  --color-state: var(--state);
}

:root {
  /* Colors Customize */
  --navy: #0f172b;
  --navy-hover: #314158;
  --navy-active: #020618;
  --gray-light: #f9fafb;
  --gray-medium: #e2e8f0;
  --gray-dark: #90a1b9;
  --gray-dark2: #f1f5f9;
  --green-dark: #016630;
  --green: #00c950;
  --green-light: #f0fdf4;
  --red-dark: #9f0712;
  --red: #fb2c36;
  --red-light: #fef2f2;
  --yellow-dark: #894b00;
  --yellow: #f0b100;
  --yellow-light: #fefce8;
  --blue-dark: #193cb8;
  --blue: #2b7fff;
  --blue-light: #eff6ff;
  --state: #f1f5f9;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {
  .heading-1 {
    font-size: 3rem;
    font-weight: 700;
  }
  .heading-2 {
    font-size: 1.875rem;
    font-weight: 600;
  }
  .heading-3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .heading-4 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .heading-4-bold {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body-medium {
    font-size: 1rem;
    font-weight: 500;
  }
  .body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .body-bold {
    font-size: 1rem;
    font-weight: 700;
  }
  .small {
    font-size: 0.875rem;
    font-weight: 400;
  }
  .small-medium {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
